@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@500;700&display=swap");
* {
  padding: 0s;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input:focus, textarea:focus, select:focus {
  outline: none !important;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Slider */
.slick-slider {
  position: relative;
}

.slick-slide {
  width: 270px;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-track {
  position: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 25px;
  height: 38px;
}

.slick-next {
  right: -45px;
  top: 30px;
  background: url(/images/companies/arrow.svg);
}

.slick-prev {
  left: -45px;
  top: 30px;
  background: url(/images/companies/arrow.svg);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-dots li {
  margin: 0px 10px;
}

.slick-dots button {
  width: 10px;
  height: 12px;
  border-radius: 6px;
  font-size: 0;
  background: #d9d9d9;
}

.slick-active button {
  width: 10px;
  height: 12px;
  border-radius: 6px;
  font-size: 0;
  background: #686868;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
}

span {
  color: rgb(240, 57, 87);
}

/*------------------------------------*/ /*------------------------------------*/
/*------------------------------------*/ /*------------------------------------*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
  background: #ffffff;
  z-index: 2;
}
@media (max-width: 768px) {
  .header__logo {
    max-width: 112px;
  }
}
@media (max-width: 768px) {
  .header__img {
    max-width: 112px;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}
.header__item:not(:last-child) {
  margin-right: 76px;
}
@media (max-width: 768px) {
  .header__item:not(:last-child) {
    margin-right: 40px;
  }
}
.header__link {
  line-height: 175%;
  color: #2e3235;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.header__link:hover {
  font-weight: 600;
}
@media (max-width: 768px) {
  .header__link {
    font-size: 14px;
  }
}
.header__number {
  font-weight: 700;
  font-size: 20px;
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #2e3235;
}
@media (max-width: 768px) {
  .header__number {
    font-size: 18px;
  }
}

.main {
  margin-top: 125px;
  margin-bottom: 125px;
}
.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .main__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.main__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 175%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 15px;
}
.main__text {
  font-weight: 500;
  font-size: 30px;
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #817979;
  margin-bottom: 90px;
}
.main__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .main__btn-box {
    margin-bottom: 70px;
  }
}
.main__btn {
  line-height: 175%;
  letter-spacing: -0.05em;
  font-weight: 600;
  color: #ffffff;
  background: #f03957;
  border: 2px solid #f03957;
  border-radius: 10px;
  padding: 15px 22px;
  margin-right: 22px;
}
.main__btn:hover {
  color: #f03957;
  background: #ffffff;
  border: 2px solid #f03957;
}
.main__link {
  letter-spacing: -0.05em;
  font-weight: 600;
  line-height: 175%;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 9px 20px;
}
.main__link:hover {
  color: #f7f5f5;
  background: #000000;
  border: 2px solid #000000;
}
@media (max-width: 768px) {
  .main__right {
    width: 100%;
    max-height: 310px;
  }
}
.main__img {
  border-radius: 25px;
}
@media (max-width: 768px) {
  .main__img {
    width: 100%;
    max-height: 310px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.services {
  background: #525252;
  padding-bottom: 100px;
}
.services__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
  padding-top: 80px;
}
@media (max-width: 768px) {
  .services__text-box {
    margin-bottom: 60px;
  }
}
.services__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 175%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #f7f5f5;
  max-width: 450px;
}
@media (max-width: 768px) {
  .services__title {
    font-size: 35px;
    line-height: 150%;
    max-width: 280px;
  }
}
.services__text {
  font-family: "Inter";
  letter-spacing: -0.05em;
  line-height: 175%;
  font-weight: 600;
  color: #f7f5f5;
  max-width: 470px;
}
@media (max-width: 768px) {
  .services__text {
    font-size: 16px;
    max-width: 345px;
  }
}
.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 60px;
  max-height: 370px;
}
@media (max-width: 768px) {
  .services__box {
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 30px 20px;
  }
}
@media (max-width: 768px) {
  .services__box-left {
    margin: 0px 0px;
    max-width: 322px;
  }
}
.services__box-right {
  margin: 0px 100px;
}
@media (max-width: 768px) {
  .services__box-right {
    margin: 0px 0px;
  }
}
.services__box-title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 30px;
  line-height: 175%;
  letter-spacing: -0.05em;
  margin-bottom: 25px;
  color: #000000;
}
.services__box-text {
  font-family: "Inter";
  line-height: 175%;
  letter-spacing: -0.05em;
  max-width: 520px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .services__box-text {
    font-size: 16px;
  }
}
.services__box-link {
  font-family: "Inter", sans-serif;
  line-height: 175%;
  letter-spacing: -0.05em;
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 8px 30px;
  color: #000000;
}
@media (max-width: 768px) {
  .services__box-img {
    max-width: 230px;
    max-height: 230px;
    border-radius: 15px;
  }
}

.advantages {
  margin-bottom: 240px;
}
.advantages__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 80px;
}
.advantages__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 175%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  max-width: 523px;
}
.advantages__text {
  font-family: "Inter";
  line-height: 175%;
  letter-spacing: -0.05em;
  font-weight: 600;
  max-width: 523px;
}
.advantages__content {
  font-family: "Inter";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages__box {
  background: #c4c4c4;
  border-radius: 20px;
  padding: 20px;
  max-width: 370px;
  height: 500px;
  position: relative;
}
.advantages__box:not(:last-child) {
  margin-right: 30px;
}
.advantages__box:nth-child(2) {
  background: #525252;
  color: #ffffff;
}
.advantages__box:nth-child(3) {
  background: #d5636b;
  color: #ffffff;
}
.advantages__box:nth-child(3) .advantages__name {
  max-width: 175px;
}
.advantages__img {
  margin-bottom: 30px;
  top: 0;
}
.advantages__name {
  margin-bottom: 25px;
  letter-spacing: -0.05em;
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  text-align: left;
}
.advantages__subtitle {
  margin-bottom: 110px;
  line-height: 175%;
  letter-spacing: -0.05em;
  text-align: left;
  max-width: 300px;
}

.companies {
  margin-bottom: 120px;
}
.companies__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 175%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  max-width: 850px;
  margin-bottom: 80px;
}
.companies__slide {
  margin-right: 25px;
  width: 270px;
  height: 110px;
}
.companies__img {
  padding: 24px;
  border: 2px solid #efefef;
  border-radius: 20px;
  max-width: 270px;
  max-height: 110px;
}

.reviews__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 175%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  max-width: 415px;
  margin-bottom: 80px;
}
.reviews__content {
  font-family: "Inter";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}
.reviews__box {
  background: #f7f5f5;
  border-radius: 15px;
  padding: 22px;
  max-width: 370px;
}
.reviews__box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 175%;
  letter-spacing: -0.05em;
}
.reviews__data {
  color: #6f7375;
  line-height: 175%;
  letter-spacing: -0.05em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.reviews__text {
  line-height: 175%;
  letter-spacing: -0.05em;
  margin-bottom: 16px;
}
.reviews__box-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews__link {
  font-size: 14px;
  line-height: 175%;
  letter-spacing: -0.05em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #6f7375;
}
.form {
  background: #525252;
  padding-bottom: 80px;
}
.form__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 175%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #f7f5f5;
}
.form__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #f7f5f5;
}
.form__content {
  background: #f7f5f5;
  border-radius: 20px;
  padding: 30px;
}
.form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.form__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-right: 32px;
}
.form__input {
  letter-spacing: -0.05em;
  color: #817979;
  line-height: 175%;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  padding: 15px 0px 15px 25px;
}
.form__input:not(:last-child) {
  margin-bottom: 20px;
}
.form__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
}
.form__right label {
  cursor: pointer;
  position: absolute;
  right: 50px;
  bottom: 20px;
  border: none;
  width: 33px;
  height: 33px;
  cursor: pointer;
  border-radius: 3px;
  background: #d9d9d9 url(../images/icons/clip.svg);
}
.form__textarea {
  padding: 15px;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  max-width: 100%;
  height: 100%;
  resize: none;
}
.form__file {
  position: absolute;
  right: 15px;
  bottom: 15px;
  border: none;
  width: 33px;
  height: 33px;
  cursor: pointer;
  background: #d9d9d9;
  border-radius: 3px;
  opacity: 0;
}
.form__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form__btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  letter-spacing: -0.05em;
  background: #f03957;
  border-radius: 10px;
  color: #ffffff;
  margin-bottom: 15px;
  padding: 18px 45px;
}
.form__sub-btn {
  font-weight: 600;
  font-size: 10px;
  line-height: 175%;
  letter-spacing: -0.05em;
  max-width: 210px;
  margin-left: 50px;
}

.map {
  background: url(../images/footer/map.jpg);
  max-height: 669px;
}
.map__box {
  display: inline-block;
  background: #525252;
  border-radius: 15px;
  padding: 50px;
  margin: 120px 0px 225px 0px;
}
.map__logo {
  max-width: 150px;
  max-height: 50px;
  margin-bottom: 33px;
}
.map__geo {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #efefef;
  margin-bottom: 25px;
}
.map__email {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #efefef;
  margin-bottom: 25px;
}
.map__number {
  font-weight: 700;
  font-size: 20px;
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #dedcdc;
}

.footer {
  background: #000000;
  background-size: 100% 100%;
  font-family: "Inter";
  padding: 110px 0;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #d9d9d9;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.555);
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 999;
  visibility: hidden;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: #000;
  background: #f7f5f5;
  border: 1px solid #e1e1e1;
  max-width: 550px;
  border-radius: 10px;
  padding: 0px 50px;
}
.popup__content label {
  cursor: pointer;
  position: absolute;
  right: 75px;
  bottom: 190px;
  border: none;
  width: 33px;
  height: 33px;
  cursor: pointer;
  border-radius: 3px;
  background: #d9d9d9 url(../images/icons/clip.svg);
}
.popup__close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 30px;
  color: #000;
}
.popup__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 175%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #f03957;
}
.popup__text {
  line-height: 175%;
  text-align: center;
  letter-spacing: -0.05em;
  color: #000000;
}
.popup__input {
  letter-spacing: -0.05em;
  color: #817979;
  line-height: 175%;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  padding: 15px 130px 15px 25px;
}
.popup__input:not(:last-child) {
  margin-bottom: 20px;
}
.popup__textarea {
  padding: 15px;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  max-width: 100%;
  height: 100%;
  resize: none;
  margin-bottom: 40px;
}
.popup__file {
  position: absolute;
  right: 75px;
  bottom: 190px;
  border: none;
  width: 33px;
  height: 33px;
  cursor: pointer;
  background: #d9d9d9;
  border-radius: 3px;
  opacity: 0;
}
.popup__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup__btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  letter-spacing: -0.05em;
  background: #f03957;
  border-radius: 10px;
  color: #ffffff;
  margin-bottom: 15px;
  padding: 18px 45px;
}
.popup__sub-btn {
  font-weight: 600;
  font-size: 10px;
  line-height: 175%;
  letter-spacing: -0.05em;
  max-width: 210px;
  margin-left: 50px;
}