@import "_nullstyle";
@import "_varables";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@500;700&display=swap");

html,
body {
    font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1160px;
    padding: 0 15px;
    margin: 0 auto;
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}
input:focus,
textarea:focus,
select:focus {
    outline: none !important;
}
span {
    color: rgba(240, 57, 87, 1);
}
.active-link {
    color: #f03957;
}

/*------------------------------------*/ /*------------------------------------*/
/*------------------------------------*/ /*------------------------------------*/

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
    }
    @include breakpoint(xs) {
        position: relative;
        z-index: 0;
        &::before {
            display: none;
        }
    }
    &__content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        background: #ffffff;
        z-index: 2;
    }

    &__logo {
        @include breakpoint(md) {
            max-width: 112px;
        }
    }

    &__img {
        @include breakpoint(md) {
            max-width: 112px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 0;
        @include breakpoint(xs) {
            display: none;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 76px;
        }
        @include breakpoint(md) {
            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }

    &__link {
        line-height: 175%;
        color: #2e3235;
        letter-spacing: -0.05em;
        font-weight: 500;
        &:hover {
            font-weight: 600;
        }
        @include breakpoint(md) {
            font-size: 14px;
        }
    }

    &__number {
        font-weight: 700;
        font-size: 20px;
        line-height: 175%;
        letter-spacing: -0.05em;
        color: #2e3235;
        @include breakpoint(md) {
            font-size: 18px;
        }
        @include breakpoint(xs) {
            display: none;
        }
    }

    .nav-bar {
        position: fixed;
        background-color: #020a18;
        top: 0;
        right: 106%;
        height: 100vh;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: position 2.9s;
        z-index: 55;
        @include breakpoint(minlg) {
            display: none;
        }
    }

    .toggle {
        left: 0;
        box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
    }

    .toggle-menu {
        background-color: rgba(0, 0, 0, 0);
        position: fixed;
        top: 15px;
        right: 15px;
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2px 2px 2px 3px;
        border-radius: 5px;
        cursor: pointer;
        @include breakpoint(minlg) {
            display: none;
        }
    }

    .line {
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background-color: rgb(0, 0, 0);
        transition: transform 0.2s ease-out;
    }

    .toggle .line1 {
        background-color: #000000;
        transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
    }

    .toggle .line2 {
        display: none;
    }

    .toggle .line3 {
        background-color: #000000;
        transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
    }

    .toggle .toggle-menu {
        background-color: white;
    }

    .nav-list {
        list-style: none;
        padding-left: 0px;
    }

    .nav-list-item {
        text-align: left;
        padding: 20px 0;
    }

    .nav-link {
        color: #d9d9d9;
        font-size: 14px;
        text-decoration: none;
        position: relative;
        padding-bottom: 20px;
    }

    .nav-link::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
        transform: scaleX(0);
        transition: transform 0.4s ease-in-out;
        transform-origin: left;
    }

    .nav-link:hover::before {
        transform: scaleX(1);
    }
}
.main {
    margin-top: 125px;
    margin-bottom: 125px;
    @include breakpoint(xs) {
        margin-top: 25px;
        margin-bottom: 55px;
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include breakpoint(md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 15px;
        @include breakpoint(xs) {
            font-size: 40px;
            line-height: 150.5%;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 30px;
        line-height: 175%;
        letter-spacing: -0.05em;
        color: #817979;
        margin-bottom: 90px;
        @include breakpoint(xs) {
            font-size: 25px;
            margin-bottom: 50px;
        }
    }

    &__btn-box {
        display: flex;
        align-items: center;
        @include breakpoint(md) {
            margin-bottom: 70px;
        }
        @include breakpoint(xs) {
            flex-direction: column;
            margin-bottom: 40px;
        }
    }

    &__btn {
        line-height: 175%;
        letter-spacing: -0.05em;
        font-weight: 600;
        color: #ffffff;
        background: #f03957;
        border: 2px solid #f03957;
        border-radius: 10px;
        padding: 15px 22px;
        margin-right: 22px;
        &:hover {
            color: #f03957;
            background: #ffffff;
            border: 2px solid #f03957;
        }
        @include breakpoint(xs) {
            margin-bottom: 15px;
            margin-right: 0px;
            padding: 18px 30px;
            white-space: nowrap;
            width: 100%;
        }
    }

    &__link {
        letter-spacing: -0.05em;
        font-weight: 600;
        line-height: 175%;
        color: #000000;
        border: 2px solid #000000;
        border-radius: 10px;
        padding: 9px 20px;
        &:hover {
            color: #f7f5f5;
            background: #000000;
            border: 2px solid #000000;
        }
        @include breakpoint(xs) {
            padding: 18px 50px;
            white-space: nowrap;
            width: 100%;
        }
    }

    &__right {
        @include breakpoint(md) {
            width: 100%;
            max-height: 310px;
        }
    }

    &__img {
        border-radius: 25px;
        @include breakpoint(md) {
            width: 100%;
            max-height: 310px;
            object-fit: cover;
        }
    }
}
.services {
    background: #525252;
    padding-bottom: 100px;
    &__text-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 80px;
        padding-top: 80px;
        @include breakpoint(md) {
            margin-bottom: 60px;
        }
        @include breakpoint(xs) {
            padding-top: 40px;
            margin-bottom: 40px;
            flex-direction: column;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 45px;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #f7f5f5;
        max-width: 450px;
        @include breakpoint(md) {
            font-size: 35px;
            line-height: 150%;
            max-width: 280px;
        }
        @include breakpoint(xs) {
            font-size: 30px;
            line-height: 150%;
        }
    }

    &__text {
        font-family: "Inter";
        letter-spacing: -0.05em;
        line-height: 175%;
        font-weight: 600;
        color: #f7f5f5;
        max-width: 470px;
        @include breakpoint(md) {
            font-size: 16px;
            max-width: 345px;
        }
        @include breakpoint(xs) {
            font-size: 16px;
            margin-bottom: 35px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
        border-radius: 20px;
        margin-bottom: 60px;
        max-height: 370px;
        @include breakpoint(md) {
            border-radius: 15px;
            margin-bottom: 20px;
            padding: 30px 20px;
        }
        @include breakpoint(xs) {
            flex-direction: column;
            max-height: 545px;
        }
    }

    &__box-left {
        margin-left: 40px;
        @include breakpoint(md) {
            margin: 0px 0px;
            max-width: 322px;
        }
    }

    &__box-right {
        margin: 0px 100px;
        @include breakpoint(md) {
            margin: 0px 0px;
        }
    }

    &__box-title {
        font-family: "Inter";
        font-weight: 600;
        font-size: 30px;
        line-height: 175%;
        letter-spacing: -0.05em;
        margin-bottom: 25px;
        color: #000000;
        @include breakpoint(xs) {
            font-size: 20px;
        }
    }

    &__box-text {
        font-family: "Inter";
        line-height: 175%;
        letter-spacing: -0.05em;
        max-width: 520px;
        margin-bottom: 30px;
        @include breakpoint(md) {
            font-size: 16px;
        }
    }

    &__box-link {
        font-family: "Inter", sans-serif;
        line-height: 175%;
        letter-spacing: -0.05em;
        border: 2px solid #000000;
        border-radius: 8px;
        padding: 8px 30px;
        color: #000000;
        @include breakpoint(xs) {
            margin-left: 10px;
            padding: 8px 70px;
        }
    }

    &__box-img {
        @include breakpoint(md) {
            max-width: 230px;
            max-height: 230px;
            border-radius: 15px;
        }
        @include breakpoint(xs) {
            max-width: 160px;
            max-height: 160px;
            margin-top: 5px;
        }
    }
}
.advantages {
    margin-bottom: 240px;
    @include breakpoint(md) {
        margin-bottom: 60px;
    }
    &__text-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 120px;
        margin-bottom: 80px;
        @include breakpoint(xs) {
            margin-top: 60px;
            margin-bottom: 55px;
            flex-direction: column;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 45px;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        max-width: 523px;
        @include breakpoint(md) {
            font-size: 35px;
            max-width: 321px;
        }
        @include breakpoint(xs) {
            font-size: 30px;
            line-height: 150%;
            margin-bottom: 25px;
        }
    }

    &__text {
        font-family: "Inter";
        line-height: 175%;
        letter-spacing: -0.05em;
        font-weight: 600;
        max-width: 523px;
        @include breakpoint(md) {
            max-width: 360px;
            max-height: 112px;
        }
        @include breakpoint(xs) {
            font-size: 16px;
        }
    }

    &__content {
        font-family: "Inter";
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include breakpoint(md) {
            flex-direction: column;
            width: 100%;
        }
    }

    &__box {
        background: #c4c4c4;
        border-radius: 20px;
        padding: 20px;
        max-width: 370px;
        height: 500px;
        position: relative;
        &:not(:last-child) {
            margin-right: 30px;
        }
        &:nth-child(2) {
            background: #525252;
            color: #ffffff;
        }
        &:nth-child(3) {
            background: #d5636b;
            color: #ffffff;
            .advantages__name {
                max-width: 175px;
            }
        }
        @include breakpoint(md) {
            height: 250px;
            width: 100%;
            max-width: none;
            &:not(:last-child) {
                margin-bottom: 30px;
                margin-right: 0px;
            }
            &:nth-child(3) {
                background: #d5636b;
                color: #ffffff;
                .advantages__name {
                    max-width: none;
                }
            }
        }
        @include breakpoint(xs) {
            height: 290px;
            border-radius: 15px;
            z-index: -5;
            &:nth-child(3) {
                height: 230px;
                .advantages__img {
                    margin-left: 30px;
                }
            }
        }
    }

    &__box-body {
        @include breakpoint(md) {
            display: flex;
            align-items: center;
        }
        @include breakpoint(xs) {
            flex-direction: row-reverse;
        }
    }

    &__img {
        margin-bottom: 30px;
        top: 0;
        @include breakpoint(md) {
            margin-bottom: 0px;
            margin-right: 35px;
        }
        @include breakpoint(xs) {
            margin-right: 0;
        }
    }

    &__name {
        margin-bottom: 25px;
        letter-spacing: -0.05em;
        font-weight: 600;
        font-size: 30px;
        line-height: 150%;
        text-align: left;
        @include breakpoint(md) {
            margin-top: 25px;
        }
        @include breakpoint(xs) {
            margin-bottom: 20px;
            margin-top: 20px;
            font-size: 20px;
        }
    }

    &__subtitle {
        margin-bottom: 110px;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-align: left;
        max-width: 300px;
        @include breakpoint(md) {
            margin-bottom: 42px;
            max-width: 470px;
            margin-left: 95px;
            font-size: 18px;
        }
        @include breakpoint(xs) {
            margin-left: 0px;
            margin-bottom: 0px;
            max-width: 250px;
            font-size: 16px;
        }
    }
}
.companies {
    margin-bottom: 120px;
    @include breakpoint(xs) {
        margin-bottom: 60px;
    }
    &__title {
        font-weight: 700;
        font-size: 45px;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        max-width: 850px;
        margin-bottom: 80px;
        @include breakpoint(xs) {
            font-size: 30px;
            line-height: 150%;
            margin-bottom: 40px;
        }
    }

    &__slider {
        position: relative;
        padding-bottom: 40px;
        @include breakpoint(xs) {
            padding-bottom: 20px;
            z-index: -5;
        }
    }

    .swiper-slide {
        width: 120px;
    }

    &__img {
        width: 260px;
        height: 110px;
        padding: 24px;
        border: 2px solid #efefef;
        border-radius: 20px;
        @include breakpoint(xs) {
            width: 120px;
            height: 66px;
            border-radius: 5px;
            background-size: cover;
        }
    }
    .swiper-button-prev {
        top: 34%;
        left: -12px;
        color: rgba(111, 115, 117, 1);
        @include breakpoint(xs) {
            display: none;
        }
    }
    .swiper-button-next {
        top: 34%;
        right: -12px;
        color: rgba(111, 115, 117, 1);
        @include breakpoint(xs) {
            display: none;
        }
    }
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 0px;
        left: 0px;
        width: 100%;
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: #3b3b3b;
    }
    .swiper-pagination-bullet-active {
        background: #686868;
    }
}
.reviews {
    &__title {
        font-weight: 700;
        font-size: 45px;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        max-width: 415px;
        margin-bottom: 80px;
    }

    &__content {
        font-family: "Inter";
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 80px;
    }

    &__box {
        background: #f7f5f5;
        border-radius: 15px;
        padding: 22px;
        max-width: 370px;
        position: relative;
        @include breakpoint(md) {
            padding-top: 40px;
            max-width: 230px;
        }
    }

    &__box-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 20px;
        @include breakpoint(md) {
            margin-right: 0px;
        }
    }

    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 175%;
        letter-spacing: -0.05em;
    }

    &__data {
        color: #6f7375;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-decoration-line: underline;
        @include breakpoint(md) {
            font-size: 11px;
        }
    }

    &__img {
        position: absolute;
        right: 5px;
        top: 12px;
        @include breakpoint(md) {
            right: 10px;
            top: 5px;
        }
    }

    &__text {
        line-height: 175%;
        letter-spacing: -0.05em;
        margin-bottom: 16px;
    }

    &__box-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include breakpoint(md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__link {
        font-size: 14px;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-decoration-line: underline;
        color: #6f7375;
        @include breakpoint(md) {
            margin-bottom: 15px;
        }
    }

    &__stars {
    }
}
.form {
    background: #525252;
    padding-bottom: 80px;
    &__text-box {
        display: flex;
        align-items: center;
    }

    &__title {
        font-weight: 700;
        font-size: 45px;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #f7f5f5;
    }

    &__text {
        font-weight: 600;
        font-size: 18px;
        line-height: 175%;
        letter-spacing: -0.05em;
        color: #f7f5f5;
    }

    &__content {
        background: #f7f5f5;
        border-radius: 20px;
        padding: 30px;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__left {
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
        margin-right: 32px;
        @include breakpoint(md) {
            margin-right: 20px;
        }
    }

    &__input {
        letter-spacing: -0.05em;
        color: #817979;
        line-height: 175%;
        border: 2px solid #d9d9d9;
        border-radius: 10px;
        padding: 15px 0px 15px 25px;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__right {
        flex: 0 0 50%;
        position: relative;
        label {
            cursor: pointer;
            position: absolute;
            right: 50px;
            bottom: 20px;
            border: none;
            width: 33px;
            height: 33px;
            cursor: pointer;
            border-radius: 3px;
            background: #d9d9d9 url(../images/icons/clip.svg);
        }
        @include breakpoint(md) {
            label {
                right: 195px;
                bottom: 25px;
            }
        }
    }

    &__textarea {
        padding: 15px;
        border: 2px solid #d9d9d9;
        border-radius: 10px;
        max-width: 100%;
        height: 100%;
        resize: none;
        @include breakpoint(md) {
            max-width: 66%;
        }
    }

    &__file {
        position: absolute;
        right: 15px;
        bottom: 15px;
        border: none;
        width: 33px;
        height: 33px;
        cursor: pointer;
        background: #d9d9d9;
        border-radius: 3px;
        opacity: 0;
        @include breakpoint(md) {
            right: 195px;
            bottom: 25px;
        }
    }

    &__btn-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    &__btn {
        cursor: pointer;
        font-weight: 600;
        font-size: 18px;
        line-height: 175%;
        letter-spacing: -0.05em;
        background: #f03957;
        border-radius: 10px;
        color: #ffffff;
        margin-bottom: 15px;
        padding: 18px 45px;
    }

    &__sub-btn {
        font-weight: 600;
        font-size: 10px;
        line-height: 175%;
        letter-spacing: -0.05em;
        max-width: 210px;
        margin-left: 50px;
    }
}
.map {
    background: url(../images/footer/map.jpg) 0px 0px no-repeat;
    max-height: 669px;
    @include breakpoint(md) {
        background: url(../images/footer/map.jpg) -680px 0px no-repeat;
    }
    &__box {
        display: inline-block;
        background: #525252;
        border-radius: 15px;
        padding: 50px;
        margin: 120px 0px 225px 0px;
    }

    &__logo {
        max-width: 150px;
        max-height: 50px;
        margin-bottom: 33px;
    }

    &__geo {
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: -0.05em;
        color: #efefef;
        margin-bottom: 25px;
    }

    &__email {
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: -0.05em;
        color: #efefef;
        margin-bottom: 25px;
    }

    &__number {
        font-weight: 700;
        font-size: 20px;
        line-height: 175%;
        letter-spacing: -0.05em;
        color: #dedcdc;
    }
}
.footer {
    background: #000000;
    background-size: 100% 100%;
    font-family: "Inter";
    padding: 110px 0;
    &__content {
        display: flex;
        justify-content: space-between;
        @include breakpoint(md) {
            flex-direction: column;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        @include breakpoint(md) {
            margin-top: 20px;
        }
    }

    &__list {
        margin-left: 112px;
        padding-left: 0;
        @include breakpoint(md) {
            margin-left: 40px;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__logo {
    }

    &__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: -0.05em;
        color: #d9d9d9;
    }
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 999;
    visibility: hidden;
    &:target {
        opacity: 1;
        visibility: visible;
    }
    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: relative;
        color: #000;
        background: #f7f5f5;
        border: 1px solid #e1e1e1;
        max-width: 550px;
        border-radius: 10px;
        padding: 0px 50px;
        label {
            position: absolute;
            right: 65px;
            bottom: 190px;
            border: none;
            width: 33px;
            height: 33px;
            cursor: pointer;
            border-radius: 3px;
            background: #d9d9d9 url(../images/icons/clip.svg);
        }
    }

    &__close {
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 30px;
        color: #000;
    }

    &__title {
        font-weight: 700;
        font-size: 25px;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        text-align: center;
        color: #f03957;
    }

    &__text {
        line-height: 175%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #000000;
    }
    &__input {
        letter-spacing: -0.05em;
        color: #817979;
        line-height: 175%;
        border: 2px solid #d9d9d9;
        border-radius: 10px;
        padding: 15px 130px 15px 25px;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__textarea {
        padding: 15px;
        border: 2px solid #d9d9d9;
        border-radius: 10px;
        max-width: 100%;
        height: 100%;
        resize: none;
        margin-bottom: 40px;
    }

    &__file {
        position: absolute;
        right: 65px;
        bottom: 190px;
        border: none;
        width: 33px;
        height: 33px;
        cursor: pointer;
        background: #d9d9d9;
        border-radius: 3px;
        opacity: 0;
    }

    &__btn-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    &__btn {
        font-weight: 600;
        font-size: 18px;
        line-height: 175%;
        letter-spacing: -0.05em;
        background: #f03957;
        border-radius: 10px;
        color: #ffffff;
        margin-bottom: 15px;
        padding: 18px 45px;
    }

    &__sub-btn {
        font-weight: 600;
        font-size: 10px;
        line-height: 175%;
        letter-spacing: -0.05em;
        max-width: 210px;
        margin-left: 50px;
    }
}
