@import "_nullstyle";
@import "_varables";
@import "_slick";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@500;700&display=swap");

html,
body {
    font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1160px;
    padding: 0 15px;
    margin: 0 auto;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}
input:focus,
textarea:focus,
select:focus {
    outline: none !important;
}
span {
    color: rgba(240, 57, 87, 1);
}

/*------------------------------------*/ /*------------------------------------*/
/*------------------------------------*/ /*------------------------------------*/

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
    }
    &__content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        background: #ffffff;
        z-index: 2;
    }

    &__logo {
        @include breakpoint(md) {
            max-width: 112px;
        }
    }

    &__img {
        @include breakpoint(md) {
            max-width: 112px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 0;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 76px;
        }
        @include breakpoint(md) {
            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }

    &__link {
        line-height: 175%;
        color: #2e3235;
        letter-spacing: -0.05em;
        font-weight: 400;
        &:hover {
            font-weight: 600;
        }
        @include breakpoint(md) {
            font-size: 14px;
        }
    }

    &__number {
        font-weight: 700;
        font-size: 20px;
        line-height: 175%;
        letter-spacing: -0.05em;
        color: #2e3235;
        @include breakpoint(md) {
            font-size: 18px;
        }
    }
}
.main {
    margin-top: 125px;
    margin-bottom: 125px;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include breakpoint(md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__left {
    }

    &__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 15px;
    }

    &__text {
        font-weight: 500;
        font-size: 30px;
        line-height: 175%;
        letter-spacing: -0.05em;
        color: #817979;
        margin-bottom: 90px;
    }

    &__btn-box {
        display: flex;
        align-items: center;
        @include breakpoint(md) {
            margin-bottom: 70px;
        }
    }

    &__btn {
        line-height: 175%;
        letter-spacing: -0.05em;
        font-weight: 600;
        color: #ffffff;
        background: #f03957;
        border: 2px solid #f03957;
        border-radius: 10px;
        padding: 15px 22px;
        margin-right: 22px;
        &:hover {
            color: #f03957;
            background: #ffffff;
            border: 2px solid #f03957;
        }
    }

    &__link {
        letter-spacing: -0.05em;
        font-weight: 600;
        line-height: 175%;
        color: #000000;
        border: 2px solid #000000;
        border-radius: 10px;
        padding: 9px 20px;
        &:hover {
            color: #f7f5f5;
            background: #000000;
            border: 2px solid #000000;
        }
    }

    &__right {
        @include breakpoint(md) {
            width: 100%;
            max-height: 310px;
        }
    }

    &__img {
        border-radius: 25px;
        @include breakpoint(md) {
            width: 100%;
            max-height: 310px;
            object-fit: cover;
        }
    }
}
.services {
    background: #525252;
    padding-bottom: 100px;
    &__text-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 80px;
        padding-top: 80px;
        @include breakpoint(md) {
            margin-bottom: 60px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 45px;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #f7f5f5;
        max-width: 450px;
        @include breakpoint(md) {
            font-size: 35px;
            line-height: 150%;
            max-width: 280px;
        }
    }

    &__text {
        font-family: "Inter";
        letter-spacing: -0.05em;
        line-height: 175%;
        font-weight: 600;
        color: #f7f5f5;
        max-width: 470px;
        @include breakpoint(md) {
            font-size: 16px;
            max-width: 345px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
        border-radius: 20px;
        margin-bottom: 60px;
        max-height: 370px;
        @include breakpoint(md) {
            border-radius: 15px;
            margin-bottom: 20px;
            padding: 30px 20px;
        }
    }

    &__box-left {
        @include breakpoint(md) {
            margin: 0px 0px;
            max-width: 322px;
        }
    }

    &__box-right {
        margin: 0px 100px;
        @include breakpoint(md) {
            margin: 0px 0px;
        }
    }

    &__box-title {
        font-family: "Inter";
        font-weight: 600;
        font-size: 30px;
        line-height: 175%;
        letter-spacing: -0.05em;
        margin-bottom: 25px;
        color: #000000;
    }

    &__box-text {
        font-family: "Inter";
        line-height: 175%;
        letter-spacing: -0.05em;
        max-width: 520px;
        margin-bottom: 30px;
        @include breakpoint(md) {
            font-size: 16px;
        }
    }

    &__box-link {
        font-family: "Inter", sans-serif;
        line-height: 175%;
        letter-spacing: -0.05em;
        border: 2px solid #000000;
        border-radius: 8px;
        padding: 8px 30px;
        color: #000000;
    }

    &__box-img {
        @include breakpoint(md) {
            max-width: 230px;
            max-height: 230px;
            border-radius: 15px;
        }
    }
}
.advantages {
    margin-bottom: 240px;
    &__text-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 120px;
        margin-bottom: 80px;
    }

    &__title {
        font-weight: 700;
        font-size: 45px;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        max-width: 523px;
    }

    &__text {
        font-family: "Inter";
        line-height: 175%;
        letter-spacing: -0.05em;
        font-weight: 600;
        max-width: 523px;
    }

    &__content {
        font-family: "Inter";
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__box {
        background: #c4c4c4;
        border-radius: 20px;
        padding: 20px;
        max-width: 370px;
        height: 500px;
        position: relative;
        &:not(:last-child) {
            margin-right: 30px;
        }
        &:nth-child(2) {
            background: #525252;
            color: #ffffff;
        }
        &:nth-child(3) {
            background: #d5636b;
            color: #ffffff;
            .advantages__name {
                max-width: 175px;
            }
        }
    }

    &__img {
        margin-bottom: 30px;
        top: 0;
    }

    &__name {
        margin-bottom: 25px;
        letter-spacing: -0.05em;
        font-weight: 600;
        font-size: 30px;
        line-height: 150%;
        text-align: left;
    }

    &__subtitle {
        margin-bottom: 110px;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-align: left;
        max-width: 300px;
    }
}
.companies {
    margin-bottom: 120px;
    &__title {
        font-weight: 700;
        font-size: 45px;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        max-width: 850px;
        margin-bottom: 80px;
    }

    &__slider {
    }

    &__slide {
        margin-right: 25px;
        width: 270px;
        height: 110px;
    }

    &__img {
        padding: 24px;
        border: 2px solid #efefef;
        border-radius: 20px;
        max-width: 270px;
        max-height: 110px;
    }
}
.reviews {
    &__title {
        font-weight: 700;
        font-size: 45px;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        max-width: 415px;
        margin-bottom: 80px;
    }

    &__content {
        font-family: "Inter";
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 80px;
    }

    &__box {
        background: #f7f5f5;
        border-radius: 15px;
        padding: 22px;
        max-width: 370px;
    }

    &__box-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 175%;
        letter-spacing: -0.05em;
    }

    &__data {
        color: #6f7375;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-decoration-line: underline;
    }

    &__img {
    }

    &__text {
        line-height: 175%;
        letter-spacing: -0.05em;
        margin-bottom: 16px;
    }

    &__box-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__link {
        font-size: 14px;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-decoration-line: underline;
        color: #6f7375;
    }

    &__stars {
    }
}
.form {
    background: #525252;
    padding-bottom: 80px;
    &__text-box {
        display: flex;
        align-items: center;
    }

    &__title {
        font-weight: 700;
        font-size: 45px;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #f7f5f5;
    }

    &__text {
        font-weight: 600;
        font-size: 18px;
        line-height: 175%;
        letter-spacing: -0.05em;
        color: #f7f5f5;
    }

    &__content {
        background: #f7f5f5;
        border-radius: 20px;
        padding: 30px;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__left {
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
        margin-right: 32px;
    }

    &__input {
        letter-spacing: -0.05em;
        color: #817979;
        line-height: 175%;
        border: 2px solid #d9d9d9;
        border-radius: 10px;
        padding: 15px 0px 15px 25px;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__right {
        flex: 0 0 50%;
        position: relative;
        label {
            cursor: pointer;
            position: absolute;
            right: 50px;
            bottom: 20px;
            border: none;
            width: 33px;
            height: 33px;
            cursor: pointer;
            border-radius: 3px;
            background: #d9d9d9 url(../images/icons/clip.svg);
        }
    }

    &__textarea {
        padding: 15px;
        border: 2px solid #d9d9d9;
        border-radius: 10px;
        max-width: 100%;
        height: 100%;
        resize: none;
    }

    &__file {
        position: absolute;
        right: 15px;
        bottom: 15px;
        border: none;
        width: 33px;
        height: 33px;
        cursor: pointer;
        background: #d9d9d9;
        border-radius: 3px;
        opacity: 0;
    }

    &__btn-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    &__btn {
        font-weight: 600;
        font-size: 18px;
        line-height: 175%;
        letter-spacing: -0.05em;
        background: #f03957;
        border-radius: 10px;
        color: #ffffff;
        margin-bottom: 15px;
        padding: 18px 45px;
    }

    &__sub-btn {
        font-weight: 600;
        font-size: 10px;
        line-height: 175%;
        letter-spacing: -0.05em;
        max-width: 210px;
        margin-left: 50px;
    }
}
.map {
    background: url(../images/footer/map.jpg);
    max-height: 669px;
    &__box {
        display: inline-block;
        background: #525252;
        border-radius: 15px;
        padding: 50px;
        margin: 120px 0px 225px 0px;
    }

    &__logo {
        max-width: 150px;
        max-height: 50px;
        margin-bottom: 33px;
    }

    &__geo {
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: -0.05em;
        color: #efefef;
        margin-bottom: 25px;
    }

    &__email {
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: -0.05em;
        color: #efefef;
        margin-bottom: 25px;
    }

    &__number {
        font-weight: 700;
        font-size: 20px;
        line-height: 175%;
        letter-spacing: -0.05em;
        color: #dedcdc;
    }
}
.footer {
    background: #000000;
    background-size: 100% 100%;
    font-family: "Inter";
    padding: 110px 0;
    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__list {
    }

    &__item {
    }

    &__logo {
    }

    &__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: -0.05em;
        color: #d9d9d9;
    }
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 999;
    visibility: hidden;
    &:target {
        opacity: 1;
        visibility: visible;
    }
    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: relative;
        color: #000;
        background: #f7f5f5;
        border: 1px solid #e1e1e1;
        max-width: 550px;
        border-radius: 10px;
        padding: 0px 50px;
        label {
            cursor: pointer;
            position: absolute;
            right: 75px;
            bottom: 190px;
            border: none;
            width: 33px;
            height: 33px;
            cursor: pointer;
            border-radius: 3px;
            background: #d9d9d9 url(../images/icons/clip.svg);
        }
    }

    &__close {
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 30px;
        color: #000;
    }

    &__title {
        font-weight: 700;
        font-size: 25px;
        line-height: 175%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        text-align: center;
        color: #f03957;
    }

    &__text {
        line-height: 175%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #000000;
    }
    &__input {
        letter-spacing: -0.05em;
        color: #817979;
        line-height: 175%;
        border: 2px solid #d9d9d9;
        border-radius: 10px;
        padding: 15px 130px 15px 25px;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__textarea {
        padding: 15px;
        border: 2px solid #d9d9d9;
        border-radius: 10px;
        max-width: 100%;
        height: 100%;
        resize: none;
        margin-bottom: 40px;
    }

    &__file {
        position: absolute;
        right: 75px;
        bottom: 190px;
        border: none;
        width: 33px;
        height: 33px;
        cursor: pointer;
        background: #d9d9d9;
        border-radius: 3px;
        opacity: 0;
    }

    &__btn-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    &__btn {
        font-weight: 600;
        font-size: 18px;
        line-height: 175%;
        letter-spacing: -0.05em;
        background: #f03957;
        border-radius: 10px;
        color: #ffffff;
        margin-bottom: 15px;
        padding: 18px 45px;
    }

    &__sub-btn {
        font-weight: 600;
        font-size: 10px;
        line-height: 175%;
        letter-spacing: -0.05em;
        max-width: 210px;
        margin-left: 50px;
    }
}
